<div id="notesModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Note</h4>
      </div>
      <div class="modal-body">
          <div class="panel-body">
	      <p>{{#with noNotesMess}}
		  {{this.message}}
		  {{/with}}
	      </p>
	      {{#each doc}}
	      <h4 class="title">{{this.note}}</h4>
	      <br/>
	      <button class="btn btn-default">Delete Note</button>
	      {{/each}}
	  </div>
      </div>
      <h3>New Note</h3>
      <textarea id="note" class="form-control" rows="3"></textarea>
      <div class="modal-footer">
        <button id="newNote" type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
